
ion-content {
    --background: #FFEF57;
  }
  .italic{
    position: relative;
  }
ion-button {
    --background: #000000;
    --background-hover: #000000;
    --background-activated: #000000;
    --background-focused: #000000;
  
    --color: rgb(255, 255, 255);
  
    --border-radius: 0;
    --border-color: #ffffff;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.25);
  
    --ripple-color: rgb(0, 0, 0);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
    width: 253px;
  }