<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="container">
    <ion-row>
      <ion-col></ion-col>
    <ion-col><ion-input label="E-mail:" type="email" placeholder="Digite seu e-mail"></ion-input></ion-col>
    <ion-col></ion-col>  
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-input label="Nome:" placeholder="Digite seu nome"></ion-input></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-input label="CPF:" placeholder="Digite seu cpf"></ion-input></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-input label="Celular:" placeholder="Digite seu celular"></ion-input></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-input label="Senha:" placeholder="Digite sua senha"></ion-input></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-input label="Senha:" placeholder="Confirme sua senha"></ion-input></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-button shape="round" routerLink="/pag-login">cadastrar</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
