<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pag-cadastro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="email" placeholder="Digite seu e-mail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="nome" placeholder="Digite seu nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="CPF" placeholder="Digite seu cpf"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="celular" placeholder="Digite seu celular"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Senha" placeholder="Digite sua senha"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Senha" placeholder="Confirme sua senha"></ion-input>
  </ion-item>
  <ion-button shape="round" routerLink="/pag-login">cadastrar</ion-button>
</ion-content>
