<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pag-login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Usuário" placeholder="Digite seu usuário"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Senha" placeholder="Digite sua senha"></ion-input>
  </ion-item>
  <ion-button shape="round" routerLink="/pag-inicial">logar</ion-button>
</ion-content>
