
.container{
  position: initial;
}
.img{
  width: 150px;
  height: 150px;
}
ion-content {
  --background: #FFEF57;
}
.italic{
  position: relative;
}
ion-content::part(scroll) {
  color: #000000;
}
ion-button {
  --background: #ffffff;
  --background-hover: #ffffff;
  --background-activated: #ffffff;
  --background-focused: #ffffff;

  --color: rgb(0, 0, 0);

  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: rgb(255, 255, 255);

  --padding-top: 10px;
  --padding-bottom: 10px;
  width: 253px;
}